In [1]:
a = 10
print(a)

10

In [2]:
a = 10                  #int
b = 10.5                #float
c = 'Hello World'       #string
d = True                #bool

print(a,b,c,d)

10 10.5 Hello World True

In [3]:
apple = 'Apple'
apple = "Apple"
apple = '''Apple'''

In [4]:
# hello_world
# no strating from numbers and spc char ie (0,1,2,3,4,5,6,7,8,9)
# (!@#$%^&*()_-+=)

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
a = '10.53@'
print(type(a))

<class 'str'>

In [7]:
a = 'True'
print(type(a))

<class 'str'>

In [8]:
a = True
print(a)
b = False
print(b)

True
False

In [9]:
a = 1 + 2j
print(a)
print(type(a))

(1+2j)
<class 'complex'>

In [10]:
a = "apple"
A = "Apple"
print(a,A)

apple Apple

In [11]:
# Operators
# + - * / % ** //

In [19]:
a = 10
b = 3
c = a + b
print(c)

13

In [20]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

13
7
30
3.3333333333333335
1
1000
3

In [22]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [24]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [25]:
a = "10"
b = "20"
c = a+b
print(c)

1020

In [26]:
a = "Hello"
b = "World"
print(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [28]:
a = "Hello World\n"
print(a + "2")

Hello World
2

In [30]:
a = True
b = False
print(a+b)
print(a*b)

1
0

In [31]:
a = True
b = False
print(a/b)

ZeroDivisionError: division by zero

In [33]:
# int() float() str()
a = "10"
a = int(a)
print(b)

10

In [35]:
a = "10"
a = float(a)
print(a)

10.0

In [36]:
a = 10
a = str(a)
print(a)

10

In [39]:
a = "10"
a = int(a)
print(b)

10

In [40]:
p = 10000
t = 10
r = 10.5

i = p*t*r/100
print("The i = ",i)

The i =  10500.0

In [41]:
# basic i/o

In [42]:
a = input()
print(a)

Apple
Apple

In [1]:
#for string
a = input("Enter a = ")
print(a)
print(type(a))

Enter a = saasda
saasda
<class 'str'>

In [47]:
#for int
a = int(input("Enter a = "))
print(a)
print(type(a))

Enter a = 10
10
<class 'int'>

In [ ]:
#for int
a = float(input("Enter a = "))
print(a)
print(type(a))

In [ ]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))
i = p*t*r/100

print("The value of i = ",i)

In [ ]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am " + str(age) + " I am from "+add
print(info)

In [1]:
physics = float(input("Enter physics marks = "))
chemistry = float(input("Enter chemistry marks = "))
math = float(input("Enter math marks = "))
english = float(input("Enter english marks = "))
nepali = float(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

print("The total = ",total)
print("The per = ",per)

Enter physics marks = 89
Enter chemistry marks = 87
Enter math marks = 67
Enter english marks = 89
Enter nepali marks = 87
The total =  419.0
The per =  83.8