In [1]:
#Dictionary
# -Multiple data
# -Duplicate data
# -Indexing
# -Mutable datatype

In [2]:
# d = {<key>:<value>,<key>:<value>,...}

In [7]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
print(d['a'])
print(d['c'])

Apple
Cat

In [11]:
# -Duplicate data but no key
d = {'a':'Apple', 'b':'Ball', 'c':'Cat','A':'Ant'}
print(d['a'])
print(d['c'])
print(d)

Apple
Cat
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [12]:
len(d)

4

In [13]:
# d = dict()
d = {}
d['Ram'] = 9808778765
d['Shyam'] = 9808556543
d['Hari'] = 984555654
d

{'Ram': 9808778765, 'Shyam': 9808556543, 'Hari': 984555654}

In [14]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Entr phon = ")
    d[name] = phone
print(d)

Enter n = 2
Enter name = Ram
Entr phon = 9808778765
Enter name = SHyam
Entr phon = 9808778765
{'Ram': '9808778765', 'SHyam': '9808778765'}

In [18]:
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
a['Ram'] = 980887657
a

'9808778765'

In [20]:
a = ['Ram','Shyam','Hari']
for i in a:
    print(i)

Ram
Shyam
Hari

In [22]:
#for only key
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
for i in a:
    print(i)
#for value
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
for i in a.values():
    print(i)
#for both
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
for i in a.items():
    print(i)

Ram
SHyam
9808778765
9808778765
('Ram', '9808778765')
('SHyam', '9808778765')

In [23]:
# delete
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
del a['Ram']
print(a)

{'SHyam': '9808778765'}

In [24]:
a = {'Ram': '980877876', 'SHyam': '9808778765'}
b = a.pop('Ram')
print(a)
print(b)

{'SHyam': '9808778765'}
9808778765

In [ ]:
a = {1:1,2:4,3:9}
print(a)

In [25]:
a = {input("Enter name"):input("Enter phone")}
a

Enter nameRam
Enter phone988979889

{'Ram': '988979889'}

In [26]:
# list inside dict
a = {'Ram':[9845667654,9845676654],
    'Shyam':[9878776765,9808667876]}
print(a)

{'Ram': [9845667654, 9845676654], 'Shyam': [9878776765, 9808667876]}

In [27]:
a = {'name':['Ram','Shyam','Hari'],
    'ntc':[9865556543,9867665432,9867554365],
    'ncell':[9808778765,9808778754,9808445654]}
a

{'name': ['Ram', 'Shyam', 'Hari'],
 'ntc': [9865556543, 9867665432, 9867554365],
 'ncell': [9808778765, 9808778754, 9808445654]}

In [28]:
#list inside dict
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Entr ntc phone no  = ")
    ncell = input("Enter ncell no = ")
    d[name] = [ntc,ncell]
print(d)

Enter n = 2
Enter name = Ram
Entr ntc phone no  = 9867667654
Enter ncell no = 9808778765
Enter name = Shyam
Entr ntc phone no  =
Enter ncell no = 9808778765
{'Ram': ['9867667654', '9808778765'], 'Shyam': ['', '9808778765']}

In [29]:
d['Ram']

['9867667654', '9808778765']

In [30]:
print("ntc no of Ram",d['Ram'][0])

ntc no of Ram 9867667654

In [32]:
# a = {'name':['Ram','Shyam','Hari'],
#     'ntc':[9865556543,9867665432,9867554365],
#     'ncell':[9808778765,9808778754,9808445654]}
# a
#list inside dict
d = {'name':[],'ntc':[],'ncell':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Entr ntc phone no  = ")
    ncell = input("Enter ncell no = ")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)

print(d)

Enter n = 2
Enter name = Ram
Entr ntc phone no  = 9856556543
Enter ncell no = 9808778765
Enter name = Shyam
Entr ntc phone no  = 9856776546
Enter ncell no = 9808778765
{'name': ['Ram', 'Shyam'], 'ntc': ['9856556543', '9856776546'], 'ncell': ['9808778765', '9808778765']}

In [34]:
d = {'name': ['Ram', 'Shyam'],
     'ntc': ['9856556543', '9856776546'], 
     'ncell': ['9808778765', '9808778765']}
print(d['name'][0])
print(d['ntc'][0])
print(d['ncell'][0])

Ram
9856556543
9808778765

In [36]:
d = {'name': ['Ram', 'Shyam'], 'ntc': ['9856556543', '9856776546'], 'ncell': ['9808778765', '9808778765']}

del d['name'][0]
del d['ntc'][0]
del d['ncell'][0]

{'name': [], 'ntc': [], 'ncell': []}

In [1]:
# dict inside list
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]

print(l)

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [4]:
print(l[2])

{'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}

In [5]:
print(l[0]['name'])

Ram

In [6]:
for i in l:
    print(i)

{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}
{'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}
{'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}

In [20]:
for i in l:
    print(list(i.values()))

['Ram', 34, 'Kathmandu', 9878776765]
['Shyam', 44, 'Bhaktapur']
['Hari', 56, 'Lalitpur']

In [11]:
l = ['Apple','Ball','Cat']
for i in l:
    print(i)

Apple
Ball
Cat

In [ ]:
# dict inside list
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]

print(l)

In [13]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    info = {'name':name,'age':age,'address':address}
    l.append(info)
    
print(l)

Enter n = 1
Enter name = Ram
Enter age = 78
Enter address = Kathmandu
[{'name': 'Ram', 'age': 78, 'address': 'Kathmandu'}]

In [21]:
for i in l:
    print(list(i.values()))

['Ram', 34, 'Kathmandu', 9878776765]
['Shyam', 44, 'Bhaktapur']
['Hari', 56, 'Lalitpur']

In [17]:
# dict inside list
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','address':'Lalitpur'}]
for i in l:
    print(i)

{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}
{'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}
{'name': 'Hari', 'address': 'Lalitpur'}

In [19]:
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]
l[0]['phone'] = 9878776765
l

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu', 'phone': 9878776765},
 {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'},
 {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [25]:
for i in l:
    print(list(i.values()))

['Ram', 34, 'Kathmandu', 9878776765]
['Shyam', 44, 'Bhaktapur']
['Hari', 56, 'Lalitpur']

In [30]:
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]
for i in range(len(l)):
    l[i]['phone'] = input("Enter phone = ")
print(l)

Enter phone = 9808778765
Enter phone = 9808778765
Enter phone = 9808778765
[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu', 'phone': '9808778765'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur', 'phone': '9808778765'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur', 'phone': '9808778765'}]

In [36]:
l = [['a','Apple'],['b','Ball'],['c','Cat']]
dict(l)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [42]:
l = [{'name':'Ram','age':34,'address':['Kathmandu','Dhading']},
    {'name':'Shyam','age':44,'address':['Bhaktapur','Dang']},
    {'name':'Hari','age':56,'address':['Lalitpur','Jhapa']}]
len(l)
print(l[1]['address'][0])

Bhaktapur

In [1]:
# dict inside dict and set
d = {1:{'name':'Ram','age':34,'address':'Kathmandu'},
    2:{'name':'Shyam','age':44,'address':'Bhaktapur'},
    3:{'name':'Hari','age':56,'address':'Lalitpur'}}

In [4]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    symbol_no = input("Enter Symbol no = ")
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    info = {'name':name,'age':age,'address':address}
    d[symbol_no] = info
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter address = Kathmandu
Enter name = 2
Enter age = 89
Enter address = Bhaktapur
{1: {'name': 'Ram', 'age': 67, 'address': 'Kathmandu'}, 2: {'name': '2', 'age': 89, 'address': 'Bhaktapur'}}

In [9]:
d = {1:{'name':'Ram','age':34,'address':'Kathmandu'},
    2:{'name':'Shyam','age':44,'address':'Bhaktapur'},
    3:{'name':'Hari','age':56,'address':'Lalitpur'}}

sn = int(input("Enter sn = "))
d[sn]

Enter sn = 3

{'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}

In [10]:
d[0] = {'name':'Rama','age':34,'address':'Palpa'}
d

{1: {'name': 'Ram', 'age': 34, 'address': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'},
 0: {'name': 'Rama', 'age': 34, 'address': 'Palpa'}}

In [11]:
del d[0]
print(d)

{1: {'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, 3: {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}}

In [31]:
a = {1: {'name': 'Ram',
       'age': 34, 
     'address': {'per':'Kathmandu',
                 'temp':'Lalitpur'}}}
a[1]['address']['temp']

'Lalitpur'

In [15]:
# d.items()

In [16]:
l = ({'name':'Ram','age':34,'address':['Kathmandu','Dhading']},
    {'name':'Shyam','age':44,'address':['Bhaktapur','Dang']},
    {'name':'Hari','age':56,'address':['Lalitpur','Jhapa']})
l

({'name': 'Ram', 'age': 34, 'address': ['Kathmandu', 'Dhading']},
 {'name': 'Shyam', 'age': 44, 'address': ['Bhaktapur', 'Dang']},
 {'name': 'Hari', 'age': 56, 'address': ['Lalitpur', 'Jhapa']})

In [18]:
l[0]['phone'] = "9878998765"
l

({'name': 'Ram',
  'age': 34,
  'address': ['Kathmandu', 'Dhading'],
  'phone': '9878998765'},
 {'name': 'Shyam', 'age': 44, 'address': ['Bhaktapur', 'Dang']},
 {'name': 'Hari', 'age': 56, 'address': ['Lalitpur', 'Jhapa']})

In [26]:
#No list , dict and set as key (list, dict and set are mutable)
d = {('a','A'):'Apple', 'b':'Ball', 'c':'Cat'}
d

{('a', 'A'): 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [24]:
# d = {('Ram','Shyam'):9808778765}