In [1]:
# Python collection
# list
# tuple
# dict
# set

In [2]:
# list
# -Multiple data
# -Duplicate data
# -Indexing
# -Mutable datatype

In [5]:
a = ["Apple","Ball","Cat","Dog","Apple"]
b = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
l = list()
l

[]

In [23]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a[0])
print(a[0:4])
print(a[::2])
print(a[::-1])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Apple']
['Apple', 'Dog', 'Cat', 'Ball', 'Apple']

In [24]:
a = [1,2,3,4,5,6]
b = [4,4,4]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 4, 4, 4]

In [7]:
a = [1,2,3,4,5]
b = ["Apple","Ball","Cat","Dog","Apple"]
n = len(a)
for i in range(n):
    print(b[i] + str(a[i]))

Apple1
Ball2
Cat3
Dog4
Apple5

In [25]:
c = a[0] + b[0]
print(c)

5

In [26]:
a = [1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [27]:
# append() insert() extend()

In [28]:
# Mutable data type
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [29]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [30]:
a = [1,2,3,4]
b = [0,0,0]
a.extend(b)
a

[1, 2, 3, 4, 0, 0, 0]

In [9]:
# a = [1,2,3,4]
# b = [0,0,0]
# a.append(b)
# a

In [33]:
#Update
a = [1,2,3]
a[0] = 4
a

[4, 2, 3]

In [34]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 5
Enter x = 234
Enter x = 54
Enter x = 7567
Enter x = 432
Enter x = 567
[234, 54, 7567, 432, 567]

In [37]:
print("The maximum value = ",max(a))
print("The minimum value = ",min(a))
print("Sum = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The maximum value =  7567
The minimum value =  54
Sum =  8854
[54, 234, 432, 567, 7567]
[7567, 567, 432, 234, 54]

In [19]:
a = [234, 54, 7567, 432, 567]
b = a[0:3]
b.sort()
a[0:3] = b
a

[54, 234, 7567, 432, 567]

In [40]:
a = ["Ball",".apple","Zebra","Ant"]
a.sort()
print(a)

['.apple', 'Ant', 'Ball', 'Zebra']

In [41]:
# del remove() pop()

In [44]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple']
del a[0]
print(a)

['Dog', 'Cat', 'Ball', 'Apple']

In [20]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple']
del a[0:3]
print(a)

['Ball', 'Apple']

In [45]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple']
a.remove("Dog")
a

['Apple', 'Cat', 'Ball', 'Apple']

In [21]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
c = a.count('Apple')
for i in range(c):
    a.remove("Apple")
print(a)

['Dog', 'Cat', 'Ball', 'Apple', 'Apple']
['Dog', 'Cat', 'Ball', 'Apple']
['Dog', 'Cat', 'Ball']

In [52]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
l = len(a)
for i in range(l):
    if a[i] == "Apple":
        print(i)

0
4
5

In [31]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
b = a.pop(0)
b

'Apple'

In [24]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
b = a[0:3]
c = a[3:]
print(a)
print(b)
print(c)

['Apple', 'Dog', 'Cat', 'Ball', 'Apple', 'Apple']
['Apple', 'Dog', 'Cat']
['Ball', 'Apple', 'Apple']

In [30]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
l = len(a)
d = l//3
print(d)
x = a[:d]
y = a[d:2*d]
z = a[2*d:3*d]
print(x,y,z)

2
['Apple', 'Dog'] ['Cat', 'Ball'] ['Apple', 'Apple']

In [48]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple',"Fish"]
l = len(a)
n = int(input("Enter n = "))
d = l//n
x = 0
l = []
for i in range(n):
    l.append(a[x:d+x])
    x = x +d
print(l)
print(a[d*len(l):])

Enter n = 4
[['Apple'], ['Dog'], ['Cat'], ['Ball']]
['Apple', 'Apple', 'Fish']

In [57]:
# search
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))
else:
    print("No")

Yes
3

In [1]:
# list inside list
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
l = [['Ram',23,'Kathmandu'],
    ['Shyam',25,'Bhaktapur'],
    ['Hari',56,'Lalitpur']]
print(l)

[['Ram', 23, 'Kathmandu'], ['Shyam', 25, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [3]:
print(l[0])

['Ram', 23, 'Kathmandu']

In [5]:
print(l[0][0])

Ram

In [8]:
del l[0]
print(l)

[['Hari', 56, 'Lalitpur']]

In [11]:
a = [['Ram', 23, 'Kathmandu'], ['Shyam', 25, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]
del a[0]
print(a)

[['Shyam', 25, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [12]:
a = [['Ram', 23, 'Kathmandu'], ['Shyam', 25, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]
b = a.pop(0)
print(a)
print(b)

[['Shyam', 25, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]
['Ram', 23, 'Kathmandu']

In [13]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    l.append(data)
    
print(l)

Enter n = 3
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur
Enter name = Hari
Enter age = 89
Enter add = Lalitpur
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 89, 'Lalitpur']]

In [14]:
bill = []
all_total = 0
n = int(input("Enter n = "))

for i in range(n):
    name = input("Enter name of the product = ")
    price = float(input("Enter price of the product = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill.append([name,price,qty,total])
    all_total = all_total + total
    
print(["Product","Price","Qty","Total"])
print(bill)
print("All total price = ",all_total)

Enter n = 1
Enter name of the product = Apple
Enter price of the product = 100
Enter quantity = 2
['Product', 'Price', 'Qty', 'Total']
[['Apple', 100.0, 2.0, 200.0]]
All total price =  200.0

In [16]:
info = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 89, 'Lalitpur']]
name = input("Enter name = ")
for i in info:
    if i[0] == name:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [17]:
info = [['Ram','Shyam','Hari'],
       [23,45,67],
       ['Kathmandu','Bhaktapur','Lalitpur']]
print(info)

[['Ram', 'Shyam', 'Hari'], [23, 45, 67], ['Kathmandu', 'Bhaktapur', 'Lalitpur']]

In [18]:
#WAP to create and do CRUD list inside list like above
#WAP to create a matrix
# r = ?
# c = ?
# x =?