In [1]:
# for
# while

In [2]:
# range(5)                 #0,1,2,3,4
# range(1,5)               #1,2,3,4
# range(0,10,2)            #0,2,4,6,8

In [12]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [9]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [10]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    print(x)

Enter n = 3
Enter name = Ram
Ram
Enter name = Shyam
Shyam
Enter name = Hari
Hari

In [3]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    print(s)

Enter n = 3
Enter x = 123
Enter x = 345
Enter x = 546
1014

In [6]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x + "\n"
    
print(s)

Enter n = 2
Enter x = Ram
Ram

Enter x = Shyam
Ram
Shyam

In [11]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + "\t" +phone+ "\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9808778762
Enter name = Shyam
Enter phone = 9808445789
Ram	9808778762
Shyam	9808445789

In [19]:
bill = str()
all_total = 0
n = int(input("Enter n = "))

for i in range(n):
    name = input("Enter name of the product = ")
    price = float(input("Enter price of the product = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + name + "\t" + str(price) + "\t" + str(qty) + "\t" + str(total) + "\n"
    all_total = all_total + total
    
print("\nProduct"+"\t"+"Price"+"\t"+"Qty"+"\t"+"Total")
print(bill)
print("All total price = ",all_total)

Enter n = 1
Enter name of the product = Apple
Enter price of the product = 100
Enter quantity = 3

Product	Price	Qty	Total
Apple	100.0	3.0	300.0

All total price =  300.0

In [25]:
# fac = 24
# i = 5
# 5! = 1*2*3*4*5
fac = 1
for i in range(1,6):
    fac = fac * i
        
print(fac)

120

In [29]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
fac = 1
for i in range(5,0,-1):
    fac = fac * i
        
print(fac)

In [31]:
# for loop in string
a = " Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [38]:
a = "Hello World I am Python"
for i in a:
    print(i, end = ".")

H.e.l.l.o. .W.o.r.l.d. .I. .a.m. .P.y.t.h.o.n.

In [39]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Python

In [1]:
# Control statements
# break
# continue
# pass

In [3]:
# break statements
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [4]:
# continue statement
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [7]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        break
    print(i,end = "")

Hello World

In [10]:
a = "Hello World., I am Python."
for i in a:
    if i == ".":
        continue
    print(i,end = "")

Hello World., I am Python.

In [15]:
for i in range(1,11):
    if i%2 != 0:
        print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [14]:
a = "Hello World, I am Python."
for i in a:
    if i == "." or i==',':
        continue
    print(i,end = "")

Hello World I am Python

In [20]:
# prime -> 2,3,5,7,11,13,17
# composite -> 4,6,8,9,10,12
# forelse loop

n = int(input("Enter n = "))
for i in range(2,n):
    if n%i==0:
        print("This is composite no")
        break
else:
    print("This is prime no")

Enter n = 11
This is composite no

In [ ]:
# # 1,1,2,3,5,8,13,21,
# # 7rd
# i = 1
# j = 1
# i = j
# j = i+j