In [2]:
# !pip install mysql-connector
# python -m pip install mysql-connector

In [4]:
import mysql.connector  #importing database
database = mysql.connector.connect(host="localhost",
                                   user="root",
                                   password="",
                                   database = "class6pm")
db = database.cursor()

In [5]:
# reading from database
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram Prasad', 89, 78, 67, 87, 90, 450, 84.0, 'A')
(2, 'Hari', 78, 87, 90, 65, 79, 460, 85.0, 'A')

In [6]:
# reading from database
db.execute("SELECT name,per,total,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

('Ram Prasad', 84.0, 450, 'A')
('Hari', 85.0, 460, 'A')

In [7]:
# insert
sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
                            VALUES ('4', 'Sita', '78', '67', '89', '76', '90', '450', '84', 'A');'''

db.execute(sql)
database.commit()

In [ ]:
# WAP to insert student data by taking user input

In [8]:
# reading from database
db.execute("SELECT * FROM student WHERE grade = 'B'")
result =db.fetchall()
for x in result:
    print(x)

(4, 'Sita', 78, 67, 89, 76, 90, 450, 84.0, 'B')

In [10]:
#Delete
sql = "DELETE FROM student WHERE grade = 'B'"
db.execute(sql)
database.commit()

In [11]:
#Update
sql = "UPDATE student SET grade = 'A+' WHERE per >=85"
db.execute(sql)
database.commit()