In [1]:
#Set
# -Multiple data
# -No duplicate data
# -No Indexing
# -Mutable datatype
#-Unordered

In [2]:
s = {1,2,3,4,5,6,7,8,9}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s = {"Apple","Ball","Cat","Dog","Apple"}
print(s)

{'Ball', 'Apple', 'Dog', 'Cat'}

In [10]:
#No list, dict, set inside set (No mutable data)
s = {("Apple","Ball","Apple"),("Cat","Dog","Apple")}
print(s)

{('Cat', 'Dog', 'Apple'), ('Apple', 'Ball', 'Apple')}

In [12]:
a = {1,2,3}
b = {4,5,6}
#No print(a+b)
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [19]:
U = {'Ram', 'Gates', 'Nabin', 'Jobs', 'Bill', 'John', 'Shyam', 'Sameer','xyz','abc'}
ms = {'Ram','Shyam','Bill','Gates','John'}
apple = {'Jobs','Ram','Nabin','Sameer'}

print("common in both set = ",ms.intersection(apple))

print("union of both set = ",ms.union(apple))

print("Working only at ms ",ms - apple) #ms.difference(apple)

print("Working only at apple ",apple - ms) #apple.difference(ms)

print("Unemployed = ",U-ms.union(apple))

common in both set =  {'Ram'}
union of both set =  {'Ram', 'Gates', 'Nabin', 'Jobs', 'Bill', 'John', 'Shyam', 'Sameer'}
Working only at ms  {'Shyam', 'Gates', 'Bill', 'John'}
Working only at apple  {'Jobs', 'Sameer', 'Nabin'}
Unemployed =  {'abc', 'xyz'}

In [20]:
s = {"Apple","Ball","Cat","Dog","Apple"}
for i in s:
    print(i)

Ball
Apple
Dog
Cat

In [23]:
s = {}
type(s)

dict

In [26]:
s = set()
s.add("Apple")
s.add("Ball")
s

{'Apple', 'Ball'}

In [29]:
s = {'Apple', 'Ball'}
s.remove("Apple")
s

{'Ball'}