In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = '10Hello_'
a

'10Hello_'

In [3]:
a = 'Hello World'
print(a[0])
print(a[0:5])
print(a[0:11:2])

H
Hello
HloWrd

In [9]:
for i in range(len(a)):
    print(a[0:i+1])

H
He
Hel
Hell
Hello
Hello
Hello W
Hello Wo
Hello Wor
Hello Worl
Hello World

In [23]:
a = 'Hello World'
a[-1:-1:-1]

''

In [25]:
a[-1:-12:-1]

'dlroW olleH'

In [12]:
a[:-6:-1]

'dlroW'

In [13]:
a[::-1]

'dlroW olleH'

In [27]:
a = 'Hello World'
b = a[:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [28]:
a = 'Hello World'
len(a)

11

In [32]:
a = "1001"
if a == a[::-1]:
    print("The is palindrome")
else:
    print("The no is not palindrome")

The is palindrome

In [33]:
name = "Ram"
age = 34
add = "Kathmandu"
info = "Hello I am " + name + " I am from " + add+" I am " + str(age)
print(info)

Hello I am Ram I am from Kathmandu I am 34

In [36]:
# String formatting
name = "Ram"
age = 34
add = "Kathmandu"
info = f"Hello I am {name}. I am from {add}. I am {age}."
print(info)

Hello I am Ram. I am from Kathmandu. I am 34.

In [37]:
# Search in string
names = "Ram Shyam Hari Sita Gita Ramesh"
if "Ram" in names:
    print("Yes")
else:
    print("No")

Yes

In [54]:
# Search in string
names = "Ram Shyam Hari Sita Gita Ramesh".lower()
search = input("Enter search name = ").lower()
if search in names:
    print("Yes")
    print(names.count(search))
else:
    print("No")

Enter search name = ram
Yes
2

In [56]:
names = "Ram Shyam Hari Sita Gita Ramesh"
print(names.lower())
print(names.upper())

ram shyam hari sita gita ramesh
RAM SHYAM HARI SITA GITA RAMESH

In [57]:
print(names)

Ram Shyam Hari Sita Gita Ramesh

In [59]:
names = "Ram Shyam Hari Sita Gita Ramesh"
names = names.lower()
names

'ram shyam hari sita gita ramesh'

In [60]:
a = 'ram shyam hari sita gita ramesh'
a.title()

'Ram Shyam Hari Sita Gita Ramesh'

In [70]:
# string with while loop
a = "Hello World"
l = len(a)
i = 0
while i<l:
    print(a[i],end = '')
    i = i+1

Hello World

In [64]:
bill = str()
all_total = 0
n = int(input("Enter n = "))

for i in range(n):
    name = input("Enter name of the product = ")
    price = float(input("Enter price of the product = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name} {price} {qty} {total} \n"
    all_total = all_total + total
    
print("\nProduct\tPrice\tQty\tTotal")
print(bill)
print("All total price = ",all_total)

Enter n = 2
Enter name of the product = Apple
Enter price of the product = 300
Enter quantity = 4
Enter name of the product = Banana
Enter price of the product = 2
Enter quantity = 3

Product	Price	Qty	Total
Apple 300.0 4.0 1200.0
Banana 2.0 3.0 6.0

All total price =  1206.0